<section id="course_index_page" class="container">
	<section class="new_courses">
		<a href="/course/new">
			new course <i class="material-icons">add_circle</i>
		</a>
	</section>
	<section class="active_courses">
		<h2>Active Courses <i class="material-icons">help</i></h2>
		<table>
			<tr>				
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress <i class="material-icons">help</i></th>
				<th>Due Date</th>
				<th></th>
			</tr>
			{{#artifacts_active}}
			{{#artifact}}
			<tr>
				<td><span class="uppercase">{{owner.owner.course.department.identifier}}</span>
					{{owner.owner.course.number}}</td>
				<td><span class="capitalize">{{owner.owner.semester.value}}</span></td>
				<td>{{owner.owner.year}}</td>
				<td>{{evaluations.length}}</td>
				{{#owner.owner.expire_date}}
				<td>{{formatDate}}</td>
				{{/owner.owner.expire_date}}
				<td><a href="/course/{{id}}">edit <i class="material-icons">edit</i></a></td>
			</tr>
			{{/artifact}}
			{{/artifacts_active}}
		</table>
	</section>
	<section class="archived_courses">
		<h2>Archived Courses</h2>
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress <i class="material-icons">help</i></th>
				<th>Due Date</th>
				<th></th>
			</tr>
			<tr>
				<td>CS498</td>
				<td>Fall</td>
				<td>2019</td>
				<td>8 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
			</tr>
			<tr>
				<td>CS499</td>
				<td>Fall</td>
				<td>2019</td>
				<td>12 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
			</tr>
		</table>
	</section>
</section>
