<section id="course_index_page" class="container">
	<section class="new_courses">
		<a href="/course/new">
			new course <i class="material-icons">add_circle</i>
		</a>
	</section>
	<section class="active_courses">
		<h2>Active Courses <i class="material-icons">help</i></h2>
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress <i class="material-icons">help</i></th>
				<th>Due Date</th>
				<th></th>
			</tr>
			{{#portfolio_functions}}
			{{#portfolio_active}}
			<tr>
				<td><span class="uppercase">{{course.department.identifier}}</span>
					{{course.number}}</td>
				<td><span class="capitalize">{{semester.value}}</span></td>
				<td>{{year}}</td>
				<td>{{portfolio_completion}}%</td>
				{{#expire_date}}
				<td>{{format_date}}</td>
				{{/expire_date}}
				<td><a href="/course/{{id}}">edit <i class="material-icons">edit</i></a></td>
			</tr>
			{{/portfolio_active}}
		</table>
	</section>
	<section class="archived_courses">
		<h2>Archived Courses</h2>
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress <i class="material-icons">help</i></th>
				<th>Due Date</th>
				<th></th>
			</tr>
				{{#portfolio_inactive}}
				<td><span class="uppercase">{{course.department.identifier}}</span>
					{{course.number}}</td>
				<td><span class="capitalize">{{semester.value}}</span></td>
				<td>{{year}}</td>
				<td>{{portfolio_completion}}%</td>
				{{#expire_date}}
				<td>{{format_date}}</td>
				{{/expire_date}}
				<td><a href="/course/{{id}}">view <i class="material-icons">pageview</i></a></td>
			</tr>
			{{/portfolio_inactive}}
			{{/portfolio_functions}}
		</table>
	</section>
</section>
